.box-project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 100%;
  height: auto;
  padding: 4px 10px;
  margin-bottom: 20px;
  gap: 40px;
}

.box-project .box-project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  transition: transform 0.2s ease;
}

.box-project .box-project-content:hover {
  transform: scale(1.02);
}

.box-project .box-project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 260px;
}

.box-project .box-project-text {
  color: #000000;
  font-weight: bold;
  text-align: start;
}

.box-project .box-project-text h2 {
  font-family: "Adult Swim", sans-serif;
  font-size: 26px;
  margin: 20px 0px 10px 0px;
}

.box-project .box-project-text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 768px) {
  .box-project .box-project-content {
    width: 100%;
    max-width: fit-content;
  }

  .box-project .box-project-img {
    width: 100%;
    height: auto;
  }

  .box-project .box-project-text h2 {
    font-size: 20px;
    margin-top: 10px;
  }

  .box-project .box-project-text p {
    font-size: 16px;
  }
}
