.main-header {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 100px solid #000000;
}

.main-header * {
  position: relative;
  z-index: 2;
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #171717;
  z-index: 1;
  transition: none;
}

.main-header .profile-pic {
  width: 60px;
  height: 60px;
}

.main-header .navigation a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 60px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.main-header .navigation a:hover {
  font-family: "Adult Swim", sans-serif;
  font-size: 16px;
  color: #ffffff !important;
  background-color: #171717;
}

@media (min-width: 769px) {
  .main-header::before {
    animation: emptyBar 0.4s forwards;
  }

  .main-header .navigation a {
    animation: emptyBarColor 0.4s forwards;
  }

  @keyframes emptyBar {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes emptyBarColor {
    0% {
      color: #ffffff;
    }
    100% {
      color: #000000;
    }
  }
}

@media (max-width: 768px) {
  .main-header::before {
    animation: fillBar 0.4s forwards;
  }

  @keyframes fillBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .navigation {
    display: none;
  }
}
