@font-face {
  font-family: "Adult Swim";
  src: url("/fonts/Adult Swim.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/Helvetica Neue/HelveticaNeue-Light.otf") format("opentype");
}

@font-face {
  font-family: "Jubilat";
  src: url("/fonts/Jubilat/Jubilat-Regular.otf") format("opentype");
}

body {
  background-color: #000000;
}

a {
  display: inline-flex;
  text-decoration: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  color: #ffffff;
  background: #171717;
}
